.container{
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #263238 11px), repeating-linear-gradient(#63636355, #636363);
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container .timer{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.container .card-container{
    width: 1000px;
    height: 580px;
}

.container button{
    padding: 10px;
}

.container .winner{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .winner .congratulations{
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
}

#exit{
    text-align: end;
}

#exit span{
    background-color: red;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.trophy-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.trophy{
    width: 150px;
    height: 150px;
    color: rgb(219, 219, 2);
}

.container .loser{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .loser .loser-text{
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
}
.container .loser .loser-text .loser-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container .loser .loser-text .circle{
    width: 150px;
    height: 150px;
    color: red;
}

.container .loser .loser-text .sorry-text{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.container .loser .loser-text #exit{
    text-align: end;
}

.container .loser .loser-text #exit span{
    background-color: red;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.congratulations-winner{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.container .card-container .card{
    display: inline-block;
    margin: 5px;
    height: calc(190px - 10px);
    width: calc(230px - 10px);
    cursor: pointer;
}

.container .card-container .card .card-image{
    height: calc(190px - 10px);
    width: calc(230px - 10px);
}